@import 'https://fonts.googleapis.com/css?family=Spartan';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gradient-to-r from-cyan-900 to-slate-800;
    @apply text-white;
  }
}

body {
  margin: 0;
  font-family: 'Spartan', sans-serif ;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
